@import url("assets/styles/header.css");

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYBLACK.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYBOLD.OTF);
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYSEMIBOLD.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYMEDIUM.OTF);
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYREGULAR.OTF);
    font-weight: 400;
}

:root {
    --branco: #fff;
    --verde: #5FD788;
    --azul-escuro: #1F2937;
    --fonte: "SF Pro Display";
}

body {
    background-color: var(--branco);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
    padding: 0.5em;
}