@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYBLACK.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYBOLD.OTF);
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYSEMIBOLD.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYMEDIUM.OTF);
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYREGULAR.OTF);
    font-weight: 400;
}