@import url("assets/styles/header.css");
@import url("assets/styles/banner.css");
@import url("assets/styles/categorias.css");
@import url("assets/styles/collection.css");

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYBLACK.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYBOLD.OTF);
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYSEMIBOLD.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYMEDIUM.OTF);
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(assets/fonts/SFPRODISPLAYREGULAR.OTF);
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url(assets/fonts/SF-Pro-Rounded-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url(assets/fonts/SF-Pro-Rounded-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url(assets/fonts/SF-Pro-Rounded-Regular.ttf);
    font-weight: 400;
}

:root {
    --branco: #fff;
    --verde: #5FD788;
    --azul-escuro: #1F2937;
    --grey-50: #F9FAFB;
    --grey-400: #9CA3AF;
    --fonte: "SF Pro Display";
}

body {
    background-color: var(--branco);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
    padding: 0.5em;
}

footer {
    padding: 5em;
}