.main {
    text-align: center;
    padding: 1em;
}

.main__img-tablet {
    display: none;
}

.main__img {
    background-image: url("../img/Ellipse\ 1.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2.1em;
    margin-top: 2.7em;
}

.main__img--img {
    width: 7em;
    height: 6.2em;    
    padding-left: 1em;
}

.main__titulo {
    font-family: "SF Pro Rounded";
    font-size: 40px;
    font-weight: 600;
    color: var(--verde);
    padding: 0.6em;
}

.main__descricao {
    font-size: 13px;
    font-weight: 400;
    line-height:140%;
    color: var(--grey-400);
    padding: 0 1em;
}

@media screen and (min-width: 768px) {
    .main {
        background-image: url("../img/Photo1.png");
        background-position: right;
        background-repeat: no-repeat;
        text-align: left;
        padding: 0em 0 3em 0;
    }

    .main__img {
        display: none;
    }

    .main__text {
        padding: 10em 0 0.3em 2em;
    }

    .main__titulo { 
        font-size: 86px;
        font-weight: 500;
        line-height: 89.84%;
        padding-bottom: 0.3em;
    }

    .main__descricao {
        padding: 0 27em 1em 4.5em;
    }
}

@media screen and (min-width: 1024px) {
    .main__titulo { 
        font-size: 96px;
        font-weight: 600;
        line-height: 89.84%;
        padding-bottom: 0.3em;
    }

    .main__descricao {
        font-size: 14px;
        padding-right: 35em;
    }
}
