.main {
    text-align: center;
    padding: 1em;
}

.main__img-tablet {
    display: none;
}

.main__img {
    background-image: url("../img/Ellipse\ 1.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2.1em;
    margin-top: 2.7em;
}

.main__img--img {
    width: 7em;
    height: 6.2em;    
    padding-left: 1em;
}

.main__titulo {
    font-family: "SF Pro Rounded";
    font-size: 40px;
    font-weight: 600;
    color: var(--verde);
    padding: 0.6em;
}

.main__descricao {
    font-size: 13px;
    font-weight: 600;
    line-height: 17.5px;
    color: var(--grey-400);
    padding: 0 1em;
}

@media screen and (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: row-reverse;
        text-align: start;
        padding: 0;
    }

    .main__titulo {
        font-size: 96px;
        font-weight: 600;
        line-height: 86.24px;
        padding: 2.5em 0 0.2em 0.5em;
    }

    .main__descricao {
        font-size: 13px;
        line-height: 140%;
        font-weight: 400;
        padding-left: 4em;
    }

    .main__img {
        display: none;
    }

    .main__img-tablet {
        display: flex;
        width: 325px;
        height: 535px;
    }
}