.categorias {
    padding: 2.5em 1em 1em 1em;
    text-align: center;
}

.categorias__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6em;
}

.categorias__lista--item {
    background-color: var(--grey-50);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.15);
    border-radius: 0px 20px;
    width: 8.3em;
    padding-top: 1em;
    cursor: pointer;
}

.categorias__lista--img {
    width: 3em;
    height: 58px;
}

.categorias__lista--img-oleos {
    background-image: url("../img/blob-oleos.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.categorias__lista--img-cosmeticos {
    background-image: url("../img/cosmeticos-blob.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.categorias__lista--img-difusores {
    background-image: url("../img/difusores-blob.svg");
    background-position: center;
    background-size: 3em;
    background-repeat: no-repeat;
}

.categorias__lista--img-aromatizadores {
    background-image: url("../img/aromatizadores-Blob.svg");
    background-position: center;
    background-size: 3em;
    background-repeat: no-repeat;
}

.categorias__lista--titulo {
    font-size: 15px;
    font-weight: 500;
    color: var(--verde);
    padding-top: 0.8em;
    padding-bottom: 1.3em;
}

@media screen and (min-width: 728px) {
    .categorias__lista--item {
        padding: 2em;
    }

    .categorias__lista--img {
        padding: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .categorias__lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .categorias__lista--item {
        cursor: pointer;
    }

    .categorias__lista--titulo-cosm {
        width: max-content;
    }
}

@media screen and (min-width: 1440px) {
    .categorias {
        padding: 2.5em 1em;
        text-align: center;
    }

    .categorias__lista--item {
        padding: 4em;
    }

    .categorias__lista--img {
        width: 5em;
        height: 90px;
    }

    .categorias__lista--img-oleos {
        background-image: url("../img/blob-oleos.png");
        background-position: center;
        background-size: 5em;
        background-repeat: no-repeat;
    }

    .categorias__lista--img-cosmeticos {
        background-image: url("../img/blob-oleos.png");
        background-position: center;
        background-size: 6em;
        background-repeat: no-repeat;
    }

    .categorias__lista--img-difusores {
        background-image: url("../img/blob-oleos.png");
        background-position: center;
        background-size: 5em;
        background-repeat: no-repeat;
    }

    .categorias__lista--img-aromatizadores {
        background-image: url("../img/blob-oleos.png");
        background-position: center;
        background-size: 5em;
        background-repeat: no-repeat;
    }

    .categorias__lista--titulo {
        font-size: 17px;
    }
}



