.collection {
    padding: 5em 1em 2em 1em; 
    text-align: center;
}

.collction__img {
    height: 10em;
    background-image: url("../img/Blob.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.collection__titulo {
    font-family: "SF Pro Rounded";
    font-size: 22px;
    font-weight: 600;
    line-height: 21.5px;
    color: var(--verde);
    padding: 1em;
}

.collection__descricao {
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-400);
    padding: 0 1em 3em 1em;
    line-height: 18.8px;
}

.collection__button {
    margin: 1em;
    padding: 0.7em 2em;
    background-color: var(--verde);
    color: var(--branco);
    text-decoration: none;
    border-radius: 8px;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 16px;
}

@media screen and (min-width: 728px) {
    .collection {
        display: flex;
        padding-top: 1em;
        padding-bottom: 5em;
        margin-bottom: 5em;
        justify-content: end;
        text-align: right;
        background-image: url("../img/Photo2.png");
        background-repeat: no-repeat;
    }

    .collection__img {
        display: none;
    }

    .collection__titulo {
        font-size: 38px;
        font-weight: 500;
        line-height: 107.9%;
        padding: 4.8em 0.5em 0.5em 2em;
    }

    .collection__descricao {
        font-size: 13px;
        font-weight: 400;
        line-height: 140%;
        padding-left: 30em;
    }
}

@media screen and (min-width: 1024px) {
    .collection {
        padding-bottom: 10em;
        padding-right: 2em;
        margin-bottom: 1em;
    }

    .collection__titulo {
        padding-left: 12em;
    }

    .collection__descricao {
        padding-left: 40em;
    }
}

