.sabao {
    background-image: url("../img/Right Side.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10em 0;
    margin: 3em 0;
}

.sabao__titulo {
    font-family: "SF Pro Rounded";
    font-weight: 600;
    font-size: 32px;
    color: var(--branco);
    line-height: 38.21px;
    margin-bottom: 2em;
}

.sabao__button {
    padding: 0.7em 3em;
    background-color: var(--branco);
    border-radius: 8px;
    color: var(--grey-800);
    font-family: 'Quicksand';
    font-weight: 700;
    size: 16px;
    text-decoration: none;
}