.sabao {
    background-image: url("../img/Right Side.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10em 0;
    margin: 3em 0;
}

.sabao__titulo {
    font-family: "SF Pro Rounded";
    font-weight: 600;
    font-size: 32px;
    color: var(--branco);
    line-height: 38.21px;
    margin-bottom: 2em;
}

.sabao__button {
    padding: 0.7em 3em;
    background-color: var(--branco);
    border-radius: 8px;
    color: var(--grey-800);
    font-family: 'Quicksand';
    font-weight: 700;
    size: 16px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .sabao {
        background-image: url("../img/Soaps (1).png");
        background-repeat: no-repeat;
        text-align: left;
        padding: 7em 0;
    }

    .sabao__titulo {
        padding-left: 1em;
        padding-right: 10em;
    }

    .sabao__button {
        margin-left: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .sabao__titulo {
        padding-right: 13em;
    }
}